/* color palette from <https://github.com/vuejs/theme> */
:root {
  --ct-primary: #4d68dd;

  --ct-white: #fafafa;
  --ct-white-blur: #fafafa4b;
  --ct-white-soft: #f8f8f8;
  --ct-white-mute: #e0e0e0;

  --ct-black: #181818;
  --ct-black-blur: #1818184b;
  --ct-black-soft: #222222;
  --ct-black-mute: #000000;

  --ct-indigo: #2c3e50;

  --ct-divider-light-1: rgba(60, 60, 60, 0.29);
  --ct-divider-light-2: rgba(60, 60, 60, 0.12);
  --ct-divider-dark-1: rgba(84, 84, 84, 0.65);
  --ct-divider-dark-2: rgba(84, 84, 84, 0.48);

  --ct-text-light-1: var(--ct-indigo);
  --ct-text-light-2: rgba(60, 60, 60, 0.66);
  --ct-text-dark-1: var(--ct-white);
  --ct-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-primary: var(--ct-primary);

  --color-background: var(--ct-white);
  --color-background-blur: var(--ct-white-blur);
  --color-background-soft: var(--ct-white-soft);
  --color-background-mute: var(--ct-white-mute);

  --color-border: var(--ct-divider-light-2);
  --color-border-hover: var(--ct-divider-light-1);

  --color-heading: var(--ct-text-light-1);
  --color-text: var(--ct-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--ct-black);
    --color-background-blur: var(--ct-black-blur);
    --color-background-soft: var(--ct-black-soft);
    --color-background-mute: var(--ct-black-mute);

    --color-border: var(--ct-divider-dark-2);
    --color-border-hover: var(--ct-divider-dark-1);

    --color-heading: var(--ct-text-dark-1);
    --color-text: var(--ct-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.transition {
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
